@model ApolloPayslipDist.Models.Account

@{
    ViewData["Title"] = "Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reset</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reset" id="AccountForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountEmail"></label>
                <input asp-for="AccountEmail" class="k-textbox" />
                <span asp-validation-for="AccountEmail" class="text-danger k-invalid-msg" data-for="AccountEmail"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="k-button k-primary" />
            </div>
        </form>
    </div>
</div>

