@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@(Html.Kendo().Grid<ApolloPayslipDist.Models.LocalPaySlip>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Select().Width(50);
        columns.Bound(p => p.EmpId).Width(100);
        columns.Bound(p => p.Email).Width(100);
        columns.Bound(p => p.BaseSalary).Width(100);
        columns.Bound(p => p.ActualWorkingDays).Title("Working Days").Width(100);
        columns.Bound(p => p.Overtime).Width(100);
        columns.Bound(p => p.TaxPayment).Width(100);
        columns.Bound(p => p.TotalDeduction).Width(100);
        columns.Bound(p => p.NetPay).Width(100);
    })
    .Pageable()
    .PersistSelection()
    .Sortable()
    .Events(ev => ev.Change("onChange"))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(p => p.Email))
        .Read(read => read.Action("ReadLocalPayslipResult", "PaySlips"))
        .PageSize(15)
    )
)

<hr />
<div class="clearfix float-right">
    @Html.Kendo().Button().Name("btnSendMail").Content("Send Mail")
</div>

<script>

    var emails = new Array();

    function onChange(e) {
        for (var i in this.selectedKeyNames()) {
            emails[i] = this.selectedKeyNames()[i];
        }
    }

    $("#btnSendMail").click(function (e) {
        e.preventDefault();

        $.ajax({
            url: "/SendMail/SendLocal",
            type: 'POST',
            data: { emails: emails },
            dataType: 'json',
            traditional: true,
            success: function (data) {
                console.log(data);
            },
            error: function (e) {
                console.log(e);
            }
        });
    });
</script>

